header {
    position: right;

    width: 100%;
    height: 100px;

    background-color: rgb(247, 255, 179);
}

.header-content {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: #98D7C2;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
}

.header-middle {
    position: center;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 100px;
    text-decoration: none;
    padding-left: 40rem;
    white-space: nowrap;
}